/* google-fonts */
<style>
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
</style>

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

 /* header section */

header{
    background-image: url(./images/background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    color:white;
}

.logo{
    display:flex;
    margin-top:19px ;

}
.logo img{
    width:50px;
    height: 50px;
}

.logo p{
    font-size: large;
    padding:10px;
    font-weight: bold;
}

.landing .btn{
  float:right;
  color:black;
  position: relative;
  top:-60px;
  
}
.btn button{
    padding:5px;
    width:100px;
    border-radius: 10px;
    border:none;
    outline: none !important;
    background-image:linear-gradient(rgb(21, 243, 213),rgba(89, 80, 175, 0.63)) ;
    color:#fff;
}

.btn button:hover{
   color:#000;
   background-image:linear-gradient(rgb(41, 158, 142),rgba(89, 80, 175, 0.63)) ;
   font-weight: bold;
}
.search{
    display:flex;
}
.main-content{
    margin-top: 10%;
    text-align: center;
    
}
.main-content h3{
    font-size: 45px;
    font-style: italic;
    font-weight: 200px;
    font-family: 'Permanent Marker', cursive;
}
.main-content p{
   font-size: 18px;
   margin-top: 3px;
}
.main-content input{
    padding: 10px;
    border-radius: 25px;
    width: 550px;
    margin-top: 2em;
    outline:none;
    position: relative;
    margin-left: 300px;
}
.search button{
    padding: 7px;
    border-radius: 25px;
    width: 100px;
    margin-top: 2.2em;
    color: #fff;
    position: relative;
    left: -100px;
    background-image:linear-gradient(rgb(19, 231, 203),rgba(51, 32, 226, 0.63)) ;
    outline: none;

}

.search button:hover{
    background-image:linear-gradient(rgb(54, 189, 173),rgba(51, 32, 226, 0.63)) ;
     color:#000;
}


/* featured-area */

.featured-area{
    height: 500px;
    margin-top:30px;
  
}
.featured-area img{
    width:100%;
    height: 300px;
}
.featured-area h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
}
.price{
    border:1px solid orangered;
    width:50px;
    height: 50px;
    background: orangered;
    border-radius: 50%;
    position: relative;
    top:-25px;
    left: 10px;
}

.price p{
    color: #fff;
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
}

.rating{
    position: relative;
    top: -70px;
    left: 270px;
    color: orangered;
}

.description{
    margin-top: 0px;
    position: relative;
    top:-80px;
    justify-content: center;
    text-align: justify;
}
.description h3{
    font-weight: 700;
    font-size: large;
}
.description p{
    font-weight: 500;
    position: relative;
    top: -15px;
}
.area{
    border:1px solid rgb(8, 8, 8);
    height: 500px;
    padding: 3px;
    box-shadow: 5px 10px 18px #888888;
}
 /* end of feature area */

 /*  travelling-gallery */

 .travelling-gallery{
     margin-top: 150px;
     background-image: linear-gradient(white,rgba(179, 178, 178, 0.952));
     width: 100%;
     height: 360px;
 }
 

 .gallery img{
    margin-top: 10px;
    width:100%;
    height:200px;
    cursor: pointer;
    box-shadow: 5px 10px 18px #3b2b18c5;
}

.travelling-gallery h3{
  
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Permanent Marker', cursive;
}
.gallery img:hover{
    transform: scale(1.1);
}